.formulario_input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario_input-error-activo {
    display: block;
}

.formulario_mensaje {
    display: none;
}

.formulario_mensaje-activo {
    display: block;
}